@charset "utf-8";

body {
  background-color: #eaeaea;
}
.header {
  border-bottom: 2px solid red;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}
.navigation li {
  display: inline-block;
}
.container {
  width: 1200px;
  margin: 0 auto;
}